/*estilizaçao do corpo da pagina*/
body{
margin: 0;
padding: 0;
border: 0;
line-height: 1;
}

/*estilização da sessao HEADER da pagina*/
header{
    background: #E797A9;
    padding: 20px 0; 
}

/*estilização da sessao NAV(navegaçao) da pagina*/
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
color:rgba(185, 5, 155, 0.979);
font-weight: bold;
font-size: 22px;
text-decoration: none;
}
nav a:hover{
    color:rgb(253, 97, 193);
    text-decoration: underline;
}
/*estilização das listas da pagina*/
ul{
    list-style: none;
}
/*estilização do Logotipo*/
.logo_caixa{
    width:1800px;
    position:relative;
    margin:auto;
}
/*banner*/
.banner{
    width: 100%
}
.logo{
    width:10%;
    margin:0 0 0 40px;
}
/*estilização do banner*/
.banner{
    width: 100%;
}
/*estilização da area "sobre"*/
.titulo-principal{
text-align: center;
font-size: 2em; /* dobro da fonte padrão*/
margin: 0 0 1em;
clear: left;
}
.principal{
width: 100%;
margin: 0 auto;
padding: 3em 0;
background: #E797A9;
text-align: justify;
}

#caixa-principal{
text-align: justify;
margin-left: 320px;

}

.img-principal{
position: absolute;
margin-left: 90px;
}

.texto-principal{
    text-align: center;
    height: 80px;
    position: relative;
    margin-left: 200px;
}
.principal strong{
font-weight: bold;
}
.principal em {
font-style: italic;
}
.donuts {
width: 120px;
float: left;
margin: 0 20px 20px 0;
}
/*estilização do mapa*/
.map {
padding:3em 0;
background: linear-gradient(#E797A9)
}
.mapa-conteudo {
width: 100%;
margin: 0 auto;
}
.map p{
margin: 0 0 2em;
text-align: center;
}
/*area beneficios e video*/
.beneficios{
    padding: 6em0;
    background: #ffbb00;
}
.conteudo-beneficio{
    width: 30%;
    margin: 0 auto;
}
.lista-beneficio {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.img_beneficio {
width: 50%;
opacity: 1;
transition: 400ms;
box-shadow: 10px 10px 5px 0px #E797A9;
}
.img_beneficios:hover{
opacity: 0.7;
}
itens{
line-height: 1.5;
}
.itens:before{
content: "⭑";
}
.itens:first-child{
font-weight: bold;
}
.video{
width: 560px;
}
nav a:hover{
color:#ec315a;
text-decoration: underline;
}
footer{
text-align: center;
padding: 40px 0;
background: #E797A9;
}
/*==================
/*banner*/
.banner{
width: 100%;
}
/*copyright*/
.copyright{
color:#f04d71;
font-size: 13px;    
margin: 20px 0 0;
}

/*Cardápio*/
.cardapio{
    width: 150px;
	display: inline-block;
}

.rosca{

    align-items: center;
    width: 10vh;
	display: inline-block;
}

div.box {
	width: 100px;
	display: inline-block;
}
div.figure {
    float: right;
    width: 20%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
  }
  img.scaled {
    width: 100%;
  }








  ul#album-fotos {

	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;

}

ul#album-fotos li {

	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid #f04d71;
	background-color: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
	transform: all 0.3s ease-in;

}

ul#algum-fotos li:hover {

	transform: scale(1.5);

}

ul#album-fotos li:hover span {

	opacity: 1;

}


ul#album-fotos li span {

	opacity: 1;
	color: white;
	text-shadow: 1px 1px 1px white;
	background-color: rgba(0, 0, 0, .3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;

}

ul#album-fotos li#foto01 {

	background: url("donuts de sorvete .png") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto01:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;
	

}

ul#album-fotos li#foto02 {

	background: url("donuts de doce de leite.png") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto02:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

ul#album-fotos li#foto03 {

	background: url("chocolate colorido.png") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto03:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

ul#album-fotos li#foto04 {

	background: url("mem.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto04:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

ul#album-fotos li#foto05 {

	background: url("CHOCORANGO.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto05:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

ul#album-fotos li#foto06 {

	background: url("UNICORN.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto06:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}



ul#album-fotos li#foto07 {

	background: url("Ninho.png") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto07:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

ul#album-fotos li#foto08 {

	background: url("doce\ de\ leite\ recheado.png") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto08:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}
ul#album-fotos li#foto09 {

	background: url("NUTELLA.png") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}

ul#album-fotos li#foto09:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}
ul#album-fotos li#foto10 {

	background: url("Coffe.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}


ul#album-fotos li#foto10:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

ul#album-fotos li#foto11 {

	background: url("Capuccino.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}


ul#album-fotos li#foto11:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

ul#album-fotos li#foto12 {

	background: url("Caramelo.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: white;
	border-radius: 8px;
	
}


ul#album-fotos li#foto12:hover {

	background-position: 0px 0px;
	background-size: 200px 200px;
	transform: scale(1.5);
	transition: 0.4s;

}

















#itens {

    z-index: -1;
    background-size: 100%;
    background-position: center;
    background-image: url("donuts\ itens.jpg");
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    padding: 19px 0 50px 0;
    background-attachment: fixed;
}